<WizardSection
  @headerText="Gitlab"
  @headerIcon="enable/gitlab"
  @docText="Docs: Gitlab Authentication"
  @docPath="/docs/auth/gitlab.html"
>
  <p>
    The Gitlab auth method can be used to authenticate with Vault using a Gitlab access token.
  </p>
</WizardSection>
